.item {
  width: 50px;
  list-style: none;
  padding: 15px;
}

.item:hover,
.item:focus {
  transform: scale(1.2);
  cursor: pointer;
}

.item:first-child,
.item:first-child span {
  background-color: #543e5c;
  border-bottom-left-radius: 4px;
}

.item:nth-child(2),
.item:nth-child(2) span {
  background-color: #cca2e1;
}

.item:nth-child(3),
.item:nth-child(3) span {
  background-color: #951555;
}

.item:nth-child(4),
.item:nth-child(4) span {
  background-color: #d61d4e;
}

.item:nth-child(5),
.item:nth-child(5) span {
  background-color: #ff0b55;
  border-bottom-right-radius: 4px;
}

.label {
  font-size: 12px;
  font-family: 'ProximaNova';
  color: #ffffff;
  line-height: 1.667;
}

.percentage {
  display: flex;
  justify-content: center;
  font-size: 18px;
  font-family: 'ProximaNova';
  color: #ffffff;
  line-height: 1.111;
}
