.stat {
  text-align: center;
  padding: 15px;
  background-color: #f3f6f9;
}

.stat:first-child {
  border-bottom-left-radius: 4px;
}

.stat:last-child {
  border-bottom-right-radius: 4px;
}

.label {
  font-size: 14px;
  line-height: 2.286;
  background-color: #f3f6f9;
  color: #94a0ac;
}

.quantity {
  font-size: 18px;
  color: #122236;
  font-weight: bold;
  line-height: 1.778;
  display: flex;
  justify-content: center;
  background-color: #f3f6f9;
  color: #1f3349;
}
