.titleLabel {
  font-weight: 800;
  height: 50px;
}

.label {
  font-size: 13px;
  color: #ffffff;
  text-transform: uppercase;
  line-height: 2.308;
  background-color: #00bcd4;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.titleLabel:nth-child(2n) {
  border-top-left-radius: none;
  border-top-right-radius: none;
}
